*{
    box-sizing:border-box;
}

header{
    display:flex;
    align-items:center;
    gap:1rem;
    background-color: #dccfba;
}

header img{
    width:200px;
    height:200px;
}

main{
    display:flex;
    gap:1rem; 
    padding-top: 1rem;
}

main section{
    flex:1;
    border:1px solid rgb(71, 15, 15);
}

section h2{
    background-color: rgb(71, 15, 15);
    color: white;
    text-align: center;
    margin:0;
}

section li span{
    font-weight: bold;
}
